doctype html
head
	meta(charset="utf8")
	title 模板测试
	script(src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js")
body
	h1 node 测试
	input(type="text" class="username")
	input(type="text" class="password")
	button(class="submit") 提交