extends ../common/head.pug
append head
	link(href="/static/css/test.css" rel="stylesheet")
block right
	div(id="right")
		ul
			li
				span 1. 
				a(href="/resource/test/short_answer_questions") short_answer_questions
			li
				span 2. 
				a(href="/resource/test/true_or_false") true_or_false
			li
				span 3. 
				a(href="/resource/test/compound_dictation") compound_dictation
			li
				span 4. 
				a(href="/resource/test/summary_writing") summary_writing
			li
				span 5. 
				a(href="/resource/test/sopt_dictation") sopt_dictation
			li
				span 6. 
				a(href="/resource/test/multiple_choices") multiple_choices
			li
				span 7. 
				a(href="/resource/test/sentence_completion") sentence_completion
			li
				span 8. 
				a(href="/resource/test/personal_statement") personal_statement