doctype html
head
	meta(charset="utf-8")
	title 教师管理页
	link(href="/static/css/normalize.css" rel="stylesheet")
	link(href="/static/css/teacher.css" rel="stylesheet")
	script(src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js")
	script(src="/static/js/teacher.js")
	block head
body
	div(id="container")
		include left.pug
		block right