div(id="left")
	h3 ROFALL
	div(class="item")
		a(href="/teacher") 首页
	div(class="item")
		a(id="resource_manager") 资源管理
		div(class="resource_children" style="display: none;")
			p
				a(href="/resource/img") 图库
			p
				a(href="") 视频库
			p
				a(href="") 音频库
			p
				a(href="") 试题库
			p
				a(href="") 模板管理
			p
				a(href="") 试卷库
	div(class="item")
		a(href="") 考试管理
	div(class="item")
		a(href="") 作业管理
	div(class="item")
		a(href="") 班级管理
	div(class="item")
		a(href="") 后台管理